:root {
    --primary-color: #ff00c7;
    --secondary-color: #5027b5;
    --white-color: #ffffff;
    --text-color: #464747;
    --gray-color: #eaeaea;
}

body {
    position: relative;
}

/* Section header */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#header .header-container {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header-container .desktop-menu {
    display: none;
}

#header .header-container .header-icons {
    display: flex;
    align-items: center;
}

#header .header-container .header-icons .icons {
    display: none;
}

#header .header-container .header-icons .menu-responsive {
    color: var(--white-color);
    display: contents;
}

#header .header-container .header-icons .menu-responsive span {
    font-size: 1.7em;
}

@media screen and (min-width: 768px) {
    #header .header-container .header-icons .icons {
        display: flex;
        align-items: center;
    }


    #header .header-container .header-icons .icons span {
        color: var(--white-color);
        font-size: 1.7em;
        padding-right: 5px;
    }

    #header .header-container .header-icons .icons .icon-text {
        font-size: 1em;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1024px) {

    #header .header-container .header-icons .menu-responsive {
        display: none;
    }

    #header .header-container .desktop-menu {
        display: block;
    }

    #header .header-container .desktop-menu ul {
        list-style: none;
        display: flex;
        gap: 50px;
    }

    #header .header-container .desktop-menu a {
        text-decoration: none;
        color: var(--white-color);
    }

}

/* Section hero */
#hero {
    background-color: #5027b5;
}